@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #fff;
}

body {
    width: 100%;
    max-width: 1920px;
    background-color: #fff;
    font-family: Roboto, sans-serif;
}

.weather {
    background: url(img/bg_main.jpg) no-repeat center;
    width: 100%;
    min-height: 100vh;
}

/* Gradient or bg day/night

html[data-theme="day"] .weather,
.weather {
  background: -webkit-gradient(linear, left bottom, left top, from(#3594bf), to(rgba(255, 255, 255, 0))), #53a6cb;
  background: linear-gradient(360deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%), #53a6cb;
}

html[data-theme="night"] .weather {
  background: -webkit-gradient(linear, left bottom, left top, from(#55707e), to(rgba(255, 255, 255, 0))), #042232;
  background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%), #042232;
}
*/

.container {
    max-width: 1200px;
    max-height: 450px;
    margin: 0 auto;
    padding-top: 7em;
}

.current{
    margin-bottom: 2em;
    text-align: center;
}

.current-city {
    font-size: 3em;
}

.current-description {
    font-size: 1.5em;
  }

.current-temperature {
    font-size: 5em;
}

.forecast-time {
    font-size: 1.2em;
    text-align: end;
}

.forecast-icon {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    margin-top: 10px;
    background-size: contain;
    margin-bottom: 1em;
  }
  
  .forecast-temperature {
    font-size: 1.5em;
    margin-bottom: 2em;
  }
  
.details {
      margin-bottom: 2em;
  }

  .details-name {
    font-size: 1.5em;
    margin-bottom: 2em;
  }
  
  .details-value {
    margin-left: 5px;
    font-size: 1.5em;
  }
.container-details {
  padding-top: 50px;
}